
<h3>Welcome to the longest word-game !
Here is your grid : <br> </h3>
<%= @grid.join(" ") %> <br>
<br>
<form action="/score" method = "POST">
<!-- we have to call @grid here to because in this place (through the formulary) is the
only way to send it's assigned value -->
  <input name = "form_grid" type="hidden" value= <% @grid %> >
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <label for="question">What is your best shot?</label>
  <input name="start_time" type="hidden" value="<%= Time.now %>">
  <input type="text" id="question" name="shot" placeholder="write the best word">
  <input type="submit" value="Go on!">
</form>


